.bg-black {
    background: #000;
    color:#fff;
}

.bg-blueish {
    background: #2F6689;
}

.bg-light-yellow {
    background: #EBF4B2;
}

.port-item {
    width: 30%;
}


.port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}


